<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <title>HW5 | CSCI4710</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <script src="https://d3js.org/d3.v4.js"></script>
        <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
        <script src="https://d3js.org/d3-geo-projection.v2.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js"></script>
        <script src="https://datamaps.github.io/scripts/datamaps.world.min.js"></script>
    </head>
    
    
    <body>
        <h1>User Survey Data World Map</h1>
        <div id="container" style="position: relative; width: 900px; height: 600px;"></div>
        <script>
            var map = new Datamap({
                element: document.getElementById('container'),
                fills: {
                    WITH_SURVEY_DATA: 'blue',
                    defaultFill: 'gray'
                },
                data: {
                    // all other country code is at: https://gist.github.com/rendon/fc9d5b02a724979e878e
                    USA: { fillKey: 'WITH_SURVEY_DATA'},
                    CHE: { fillKey: 'WITH_SURVEY_DATA'},
                    ROU: { fillKey: 'WITH_SURVEY_DATA'},
                    GBR: { fillKey: 'WITH_SURVEY_DATA'},
                    CHN: { fillKey: 'WITH_SURVEY_DATA'},
                    COL: { fillKey: 'WITH_SURVEY_DATA'},
                    CAN: { fillKey: 'WITH_SURVEY_DATA'},
                    AUS: { fillKey: 'WITH_SURVEY_DATA'},
                    FRA: { fillKey: 'WITH_SURVEY_DATA'},
                    DEU: { fillKey: 'WITH_SURVEY_DATA'},
                    CYP: { fillKey: 'WITH_SURVEY_DATA'},
                    RWA: { fillKey: 'WITH_SURVEY_DATA'},
                    ISR: { fillKey: 'WITH_SURVEY_DATA'},
                    PRT: { fillKey: 'WITH_SURVEY_DATA'},
                    IRL: { fillKey: 'WITH_SURVEY_DATA'},
                    NZL: { fillKey: 'WITH_SURVEY_DATA'},
                    ESP: { fillKey: 'WITH_SURVEY_DATA'}
                }
            });

            // Draw a legend for this map
            map.legend();
        </script>
    </body>
</html>