
{% extends "layout.html" %}
{% block content %}


<div class = "container" style="border: 5px solid rgb(0, 0, 0); height: 350px; width: 350px;  padding: 0vh;">
    <img src="{{ img_html.imageFile }}" alt="{{ img_html.imageName }}"  width="340px" height="340px" >
</div>

<form method="POST" action="">
    {{ form.hidden_tag() }}

    <fieldset class="form-group">
        <legend class="border-bottom mb-4">Insert Text</legend>

        <!--Top text-->
        <div class="form-group">
            {{ form.topText.label(class="form-control-label") }}

            {% if form.topText.errors %}
            {{ form.topText(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.topText.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.topText(class="form-control form-control-lg") }}
            {% endif %}
        </div>

        <!--Bottom Text -->
        <div class="form-group">
            {{ form.bottomText.label(class="form-control-label") }}

            {% if form.bottomText.errors %}
            {{ form.bottomText(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.bottomText.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.bottomText(class="form-control form-control-lg") }}
            {% endif %}
        </div>

    </fieldset>
    <div class="form-group">
        {{form.submit(class="btn btn-outline-info")}}
    </div>
</form>

{% endblock content %}